<br><br>
<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg">
  </div>
  <h1 align="center">Welcome to Meetup! </h1>
</div> 
<hr>
<div align="center">
  <strong><%= link_to 'sign in', signin_path %></strong> | 
  <strong><%= link_to('Log in with Facebook!', '/auth/facebook') %></strong> |
  <strong><%= link_to 'create user', new_user_path  %></strong><br>
</div>