<%#=binding.pry%>

<h1 align="center"> <%= @title %> </h1><br>

<%= render "indexheader" %>

<p>
  <h3>Upcoming Events</h3>
    <% @coming.all.each do |e| %>
      <li><%= link_to e.name, event_path(e)%><br></li>
    <%end%>
    
  <h3>Past Events</h3>
    <% @past.all.each do |e| %>
      <li><%= link_to e.name, event_path(e)%><br></li>
    <%end%>
</p>