/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


@media screen {

  /* --- Reset Styles --- */

  h1 {
    font-size: 36px;
    line-height: 54px;
    color: black
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    color: black
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
    color: black
  }

  a {
    color: black;
  }

  p {
    margin-bottom: 18px;
    color: black
  }

  li {
    color: black
  }

  label {
    color: black
  }
  body {
    background-color: #ffffff;
    color: rgb(255, 255, 255);
    font-family: Times;
    line-height: 18px;
  }

  .notice {
    padding: 2px;
    background-color: #b11212;
    display: table;
    width: 450px;
    border: 2px solid white;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #b11212;
  }

  .wrapper {
    background: rgb(255, 255, 255);
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(253, 253, 253, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    margin: 16px auto;
    max-width: 960%;
    padding: 2.25%; /* 18px / 800px */
    width: 75%;
  }


  .btn-primary {
    color: #fff;
    background-color: #b60e0e;
    border-color: #b11212;  
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
  }

  div {
    display: block;
  }

  .field_with_errors {
    padding: 2px;
    background-color: #b11212;
    display: table;
  }

  .error_explanation {
    width: 450px;
    border: 2px solid #b11212;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }

  .form-control {
    display: block;
    width: 98%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .table {
    border: 1px solid black;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}
@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

}
